@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.about {
  margin-top: 60px;
  padding: 10px 20px;

  @include tablet {
    padding: 5px 10px;
    margin-top: 175px;
  }

  @include mobile {
    padding: 1px 10px;
    margin-top: 175px;
  }

  .about-page {
    .header {
      padding: 5px 10px;
      color: $dark-color;

      @include tablet {
        padding: 0px 10px;
      }

      p {
        font-size: 30px;

        @include tablet {
          font-size: 20px;
        }
      }
    }

    .desc {
      padding: 10px 10px;
      color: $dark-color;

      @include tablet {
        padding: 5px 5px;
      }

      .incl {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;

        @include tablet {
          font-size: 17px;
        }
      }

      .list {
        padding: 0 50px;

        @include tablet {
          padding: 5px 20px;
        }
      }
    }

    .bottom {
      padding: 5px 20px;
      color: $dark-color;

      p {
        span {
          font-weight: bold;
          color: $red-color;
        }
      }

      @include tablet {
        padding: 5px 10px;
      }
    }
  }
}
