@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.single-report {
  padding: 0px 150px;

  @include tablet {
    padding: 0px 50px;
  }

  @include mobile {
    padding: 0px 10px;
  }

  .post-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: $shadow;
    border-radius: 5px;

    @include mobile {
      padding: 5px;
    }

    .info {
      .title {
        display: flex;
        align-items: center;
        border-bottom: 2px solid $soft-color;

        h3 {
          font-size: 25px;
          text-align: center;

          @include tablet {
            font-size: 20px;
          }

          @include mobile {
            font-size: 15px;
          }
        }
      }
    }

    .post-details {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .abstract {
        p {
          font-size: 16px;

          @include tablet {
            font-size: 14px;
          }

          @include mobile {
            font-size: 12px;
          }

          span {
            font-weight: bold;
          }
        }
      }

      .supervisor-name {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 16px;

          @include tablet {
            font-size: 14px;
          }

          @include mobile {
            font-size: 12px;
          }

          span {
            font-size: 12px;
            font-weight: bold;
            background-color: $soft-color;
            padding: 3px 10px;
            border-radius: 5px;

            @include tablet {
              font-size: 10px;
            }

            @include mobile {
              font-size: 8px;
            }
          }
        }
      }

      .authors-name {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 16px;

          @include tablet {
            font-size: 14px;
          }

          @include mobile {
            font-size: 12px;
          }
        }

        span {
          font-size: 12px;
          font-weight: bold;
          background-color: $soft-color;
          padding: 3px 10px;
          border-radius: 5px;

          @include tablet {
            font-size: 10px;
          }

          @include mobile {
            font-size: 8px;
          }
        }
      }

      .date {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 16px;

          @include tablet {
            font-size: 14px;
          }

          @include mobile {
            font-size: 12px;
          }
        }

        span {
          font-size: 12px;
          font-weight: bold;
          background-color: $soft-color;
          padding: 3px 10px;
          border-radius: 5px;

          @include tablet {
            font-size: 10px;
          }

          @include mobile {
            font-size: 8px;
          }
        }
      }

      .session {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 14px;

          @include tablet {
            font-size: 12px;
          }

          @include mobile {
            font-size: 10px;
          }
        }

        span {
          font-size: 12px;
          font-weight: bold;
          background-color: $soft-color;
          padding: 3px 10px;
          border-radius: 5px;

          @include tablet {
            font-size: 10px;
          }

          @include mobile {
            font-size: 8px;
          }
        }
      }

      .category {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 14px;

          @include tablet {
            font-size: 12px;
          }

          @include mobile {
            font-size: 10px;
          }
        }

        span {
          font-size: 12px;
          font-weight: bold;
          background-color: $soft-color;
          padding: 3px 10px;
          border-radius: 5px;

          @include tablet {
            font-size: 10px;
          }

          @include mobile {
            font-size: 8px;
          }
        }
      }

      .report_type {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 14px;

          @include tablet {
            font-size: 12px;
          }

          @include mobile {
            font-size: 10px;
          }
        }

        span {
          font-size: 12px;
          font-weight: bold;
          background-color: $soft-color;
          padding: 3px 10px;
          border-radius: 5px;

          @include tablet {
            font-size: 10px;
          }

          @include mobile {
            font-size: 8px;
          }
        }
      }

      .publication {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
          display: flex;
          button {
            font-size: 12px;
            font-weight: bold;
            background-color: $button-bg;
            color: $red-color;
            padding: 3px 10px;
            border-radius: 5px;
            border: none;

            &:hover {
              background-color: $soft-red;
            }

            @include tablet {
              font-size: 10px;
            }

            @include mobile {
              font-size: 8px;
            }
          }
        }
      }
    }

    .document {
      embed {
        height: 800px;
        width: 100%;
        border-radius: 5px;

        @include tablet {
          height: 600px;
        }

        @include mobile {
          height: 400px;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: end;
      justify-content: end;

      .update-delete {
        display: flex;
        gap: 10px;

        .update {
          font-size: 15px;
          font-weight: bold;
          color: $red-color;
          background-color: $button-bg;
          padding: 7px 20px;
          border-radius: 5px;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: $soft-red;
          }

          @include tablet {
            font-size: 13px;
            padding: 3px 15px;
            margin-bottom: 10px;
          }

          @include mobile {
            font-size: 11px;
            padding: 3px 15px;
            margin-bottom: 10px;
          }

          a {
            color: $red-color;
          }
        }

        .delete {
          font-size: 15px;
          font-weight: bold;
          color: $white-color;
          background-color: $red-color;
          padding: 7px 20px;
          border-radius: 5px;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: $dark-red;
          }

          @include tablet {
            font-size: 13px;
            padding: 3px 15px;
            margin-bottom: 10px;
          }

          @include mobile {
            font-size: 11px;
            padding: 3px 15px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
