@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.authors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px;
}
