@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.author {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .aut-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: $white-color;
    box-shadow: $shadow;
    border-radius: 10px;
    max-width: 200px;

    @include tablet {
      max-width: 160px;
    }

    @include mobile {
      max-width: 140px;
    }

    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $soft-red;

        @include tablet {
          width: 80px;
          height: 80px;
        }

        @include mobile {
          width: 60px;
          height: 60px;
        }
      }
    }

    .name {
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include tablet {
          font-size: 14px;
        }

        @include mobile {
          font-size: 12px;
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      .info-id {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        p {
          font-size: 15px;
          width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;

          @include tablet {
            font-size: 13px;
          }

          @include mobile {
            font-size: 11px;
          }
        }
      }

      .info-email {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        p {
          font-size: 15px;
          width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;

          @include tablet {
            font-size: 13px;
          }

          @include mobile {
            font-size: 11px;
          }
        }
      }
    }

    .update-delete {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-top: 10px;

      @include mobile {
        display: flex;
        flex-direction: column;
      }

      .view-reports {
        border: none;
        background: none;

        a {
          font-size: 13px;
          font-weight: bold;
          color: $red-color;
          background-color: $button-bg;
          padding: 3px 10px;
          border-radius: 5px;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: $soft-red;
          }

          @include tablet {
            font-size: 11px;
            padding: 3px 10px;
            margin-bottom: 10px;
          }

          @include mobile {
            font-size: 9px;
            padding: 3px 10px;
            margin-bottom: 10px;
          }
        }
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: center;

        .update {
          border: none;
          background: none;
        }

        .remove {
          background: none;
          cursor: pointer;
          border: none;
          color: $red-color;
        }
      }
    }
  }
}
