@import "../../styles/global.scss";
@import "../../styles/variables.scss";

* {
  font-family: "Poppins";
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    font-size: 30px;
    color: $dark-color;

    @include mobile {
      font-size: 20px;
    }
  }

  p {
    font-size: 16px;
    span {
      a {
        color: $red-color;
        font-weight: bold;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-top: 20px;
      font-size: 16px;
      color: $dark-color;
    }

    input {
      padding: 10px;
      width: 450px;
      outline: none;
      border: none;
      background-color: $soft-color;
      border-radius: 5px;

      @include mobile {
        width: 250px;
      }
    }
  }
  button {
    padding: 10px;
    margin-top: 20px;
    width: 450px;
    border: none;
    border-radius: 5px;
    background-color: $red-color;
    color: $white-color;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;

    @include mobile {
      width: 250px;
    }

    &:hover {
      background-color: $dark-red;
      cursor: pointer;
    }
  }
  .forgot {
    a {
      color: $red-color;
      font-weight: bold;
    }
  }
}
