@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.faculty {
  p {
    font-size: 18px;
    color: $dark-color;
    border-bottom: 2px solid $soft-color;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;

    @include mobile {
      font-size: 16px;
    }
  }

  .faculty-list {
    padding-left: 10px;

    a {
      color: $red-color;
      font-size: 16px;
      padding: 3px;

      @include mobile {
        font-size: 14px;
      }

      &:hover {
        background-color: $soft-red;
        border-radius: 20px;
      }
    }
  }
}
