@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.faculty {
  padding: 10px;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid $soft-red;

    p {
      font-size: 18px;
      color: $dark-color;
      margin-bottom: 5px;
      font-weight: bold;

      @include mobile {
        font-size: 16px;
      }
    }

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }

  .faculty-list {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    button {
      color: $dark-color;
      font-size: 16px;
      padding: 6px;
      background-color: $soft-color;
      border: none;
      text-align: left;
      cursor: pointer;

      @include mobile {
        font-size: 14px;
        padding: 4px;
      }

      &:hover {
        background-color: $soft-red;
        border-radius: 5px;
      }
    }
  }
}
