@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.faculty {
  p {
    font-size: 18px;
    color: $dark-color;
    border-bottom: 2px solid $soft-red;
    margin-bottom: 5px;
    font-weight: bold;

    @include mobile {
      font-size: 16px;
    }
  }

  .faculty-list {
    display: flex;
    flex-direction: column;

    a {
      color: $dark-color;
      font-size: 16px;
      padding: 6px;

      @include mobile {
        font-size: 14px;
        padding: 4px;
      }

      &:hover {
        background-color: $soft-red;
        border-radius: 10px;
      }
    }
  }
}
