@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.badge {
  span {
    font-size: 12px;
    font-weight: bold;
    color: $red-color;
    background-color: $soft-red;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;

    @include tablet {
      font-size: 10px;
    }

    @include mobile {
      font-size: 8px;
    }
  }
}
