@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.home {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 10px;
  margin-top: 20px;
  background-color: $soft-color;

  @include mobile {
    padding: 5px 10px;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  .left-sidebar {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 2;
  }

  .post {
    flex: 4;
  }

  .right-sidebar {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
  }
}
