@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.home {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px 20px;

  @include mobile {
    padding: 5px 10px;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  .post {
    flex: 3;
  }

  .sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
