@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.reports {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px;

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include tablet {
      display: flex;
      flex-direction: column;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }

    .search-text {
      display: flex;

      h3 {
        font-size: 18px;

        @include tablet {
          font-size: 16px;
        }

        @include mobile {
          font-size: 14px;
        }
      }
    }

    .search-box {
      input {
        padding: 10px;
        width: 450px;
        outline: none;
        border: none;
        background-color: $soft-color;
        border-radius: 5px;

        @include mobile {
          width: 250px;
        }
      }
    }
  }

  .items {
    margin-top: 30px;

    .post {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @include tablet {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

      @include mobile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

      .post-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: $shadow;

        .info {
          display: flex;
          align-items: center;
          border-bottom: 2px solid $soft-color;
          gap: 10px;

          .title {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 5px;

            h3 {
              font-size: 16px;

              @include tablet {
                font-size: 14px;
              }

              @include mobile {
                font-size: 12px;
              }
            }

            span {
              font-size: 12px;
              font-weight: bold;
              background-color: $button-bg;
              color: $red-color;
              padding: 3px 10px;
              border-radius: 10px;
              cursor: pointer;

              &:hover {
                background-color: $soft-red;
              }

              @include tablet {
                font-size: 10px;
              }

              @include mobile {
                font-size: 8px;
              }
            }
          }
        }

        .post-details {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .abstract {
            .accordion {
              width: 100%;

              .item {
                .title {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  cursor: pointer;
                  background-color: $soft-color;
                  padding: 3px 10px;
                  border-radius: 5px;

                  h3 {
                    font-size: 16px;

                    @include tablet {
                      font-size: 14px;
                    }

                    @include mobile {
                      font-size: 12px;
                    }
                  }

                  span {
                    font-size: 16px;
                    font-weight: bold;

                    @include tablet {
                      font-size: 14px;
                    }

                    @include mobile {
                      font-size: 12px;
                    }
                  }
                }

                .content {
                  max-height: 0;
                  padding: 5px 10px;
                  overflow: hidden;
                  transition: all 0.5s cubic-bezier(0, 1, 0, 1);

                  p {
                    font-size: 14px;

                    @include tablet {
                      font-size: 12px;
                    }

                    @include mobile {
                      font-size: 10px;
                    }
                  }
                }

                .content-show {
                  height: auto;
                  padding: 5px 10px;
                  max-height: 9999px;
                  transition: all 0.5s cubic-bezier(1, 0, 1, 0);

                  p {
                    font-size: 14px;

                    @include tablet {
                      font-size: 12px;
                    }

                    @include mobile {
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }

          .supervisor-name {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
              font-size: 14px;

              @include tablet {
                font-size: 12px;
              }

              @include mobile {
                font-size: 10px;
              }
            }

            span {
              font-size: 12px;
              font-weight: bold;
              background-color: $soft-color;
              padding: 3px 10px;
              border-radius: 10px;

              @include tablet {
                font-size: 10px;
              }

              @include mobile {
                font-size: 8px;
              }
            }
          }

          .authors-name {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
              font-size: 14px;

              @include tablet {
                font-size: 12px;
              }

              @include mobile {
                font-size: 10px;
              }
            }

            span {
              font-size: 12px;
              font-weight: bold;
              background-color: $soft-color;
              padding: 3px 10px;
              border-radius: 10px;

              @include tablet {
                font-size: 10px;
              }

              @include mobile {
                font-size: 8px;
              }
            }
          }

          .date {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
              font-size: 14px;

              @include tablet {
                font-size: 12px;
              }

              @include mobile {
                font-size: 10px;
              }
            }

            span {
              font-size: 12px;
              font-weight: bold;
              background-color: $soft-color;
              padding: 3px 10px;
              border-radius: 10px;

              @include tablet {
                font-size: 10px;
              }

              @include mobile {
                font-size: 8px;
              }
            }
          }

          .session {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
              font-size: 14px;

              @include tablet {
                font-size: 12px;
              }

              @include mobile {
                font-size: 10px;
              }
            }

            span {
              font-size: 12px;
              font-weight: bold;
              background-color: $soft-color;
              padding: 3px 10px;
              border-radius: 10px;

              @include tablet {
                font-size: 10px;
              }

              @include mobile {
                font-size: 8px;
              }
            }
          }

          .category {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
              font-size: 14px;

              @include tablet {
                font-size: 12px;
              }

              @include mobile {
                font-size: 10px;
              }
            }

            span {
              font-size: 12px;
              font-weight: bold;
              background-color: $soft-color;
              padding: 3px 10px;
              border-radius: 10px;

              @include tablet {
                font-size: 10px;
              }

              @include mobile {
                font-size: 8px;
              }
            }
          }

          .publication {
            display: flex;
            align-items: center;
            gap: 10px;

            a {
              font-size: 12px;
              font-weight: bold;
              background-color: $button-bg;
              color: $red-color;
              padding: 3px 10px;
              border-radius: 10px;

              @include tablet {
                font-size: 10px;
              }

              @include mobile {
                font-size: 8px;
              }
            }
          }
        }

        .buttons {
          display: flex;
          gap: 10px;
          margin-top: 10px;

          a {
            button {
              font-size: 15px;
              padding: 7px 20px;
              background-color: $button-bg;
              color: $red-color;
              font-weight: bold;
              border-radius: 5px;
              cursor: pointer;

              &:hover {
                background-color: $soft-red;
              }

              @include tablet {
                font-size: 13px;
                padding: 5px 17px;
              }

              @include mobile {
                font-size: 11px;
                padding: 3px 14px;
              }
            }
          }

          button {
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
