@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.addAuthor {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 18px;
    text-align: center;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  p {
    font-size: 14px;
    text-align: center;

    @include tablet {
      font-size: 12px;
    }

    @include mobile {
      font-size: 10px;
    }

    span {
      color: $red-color;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-top: 20px;
      font-size: 16px;

      span {
        color: $red-color;
      }
    }

    input {
      padding: 10px;
      width: 450px;
      outline: none;
      border: none;
      background-color: $soft-color;
      border-radius: 5px;

      @include mobile {
        width: 250px;
      }
    }

    .photo-upload {
      display: flex;
      align-items: center;
      flex-direction: column;

      label {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: $red-color;
        padding: 7px 20px;
        border-radius: 5px;
        background-color: $button-bg;
        border: none;
        width: 450px;
        cursor: pointer;

        &:hover {
          background-color: $soft-red;
        }

        @include mobile {
          width: 250px;
        }
      }

      input {
        display: none;
      }
    }

    button {
      padding: 10px;
      margin-top: 20px;
      width: 100%;
      border: none;
      border-radius: 5px;
      background-color: $red-color;
      color: $white-color;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 20px;

      @include mobile {
        width: 250px;
      }

      &:hover {
        background-color: $dark-red;
        cursor: pointer;
      }
    }
  }
}
