@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.facultyMembers {
  padding: 10px;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid $soft-red;

    p {
      font-size: 18px;
      color: $dark-color;
      margin-bottom: 5px;
      font-weight: bold;

      @include mobile {
        font-size: 16px;
      }
    }

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }

  .members-list {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 10px;

    a {
      .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: $dark-color;
        padding: 6px;
        background-color: $soft-color;
        border: none;
        text-align: left;
        cursor: pointer;

        @include mobile {
          font-size: 14px;
          padding: 4px;
        }

        &:hover {
          background-color: $soft-red;
          border-radius: 5px;
        }

        .img {
          display: flex;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid $soft-red;
          }
        }

        .name {
          display: flex;
          flex-direction: column;
          gap: 0px;

          p {
            color: $dark-color;
            font-size: 16px;

            @include tablet {
              font-size: 14px;
            }
          }

          span {
            color: $dark-color;
            font-size: 13px;

            @include tablet {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
