@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 10px;
  gap: 20px;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .post-item {
    background-color: $white-color;
    padding: 10px;
    border-radius: 10px;
    box-shadow: $shadow;

    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid $soft-color;

      img {
        width: 40px;
        height: 40px;
        border: 1px solid $soft-red;
        border-radius: 50%;
        object-fit: cover;

        @include mobile {
          width: 30px;
          height: 30px;
        }
      }

      .sup {
        display: flex;
        flex-direction: column;

        .sup-name {
          font-size: 16px;
          color: $dark-color;
          font-weight: bold;

          @include mobile {
            font-size: 12px;
          }
        }

        p {
          font-size: 12px;
          color: $dark-color;

          @include mobile {
            font-size: 10px;
          }
        }
      }

      p {
        font-size: 12px;
        color: $dark-color;

        @include mobile {
          font-size: 10px;
        }
      }
    }

    .title {
      margin-bottom: 5px;

      p {
        font-size: 16px;
        color: $dark-color;
        font-weight: bold;

        @include mobile {
          font-size: 14px;
        }
      }
    }

    .abstract {
      margin-bottom: 5px;

      p {
        font-size: 14px;
        color: $dark-color;

        @include mobile {
          font-size: 12px;
        }
      }
    }

    .report-authors {
      margin-bottom: 5px;

      p {
        font-size: 14px;
        color: $dark-color;
        font-weight: bold;

        @include mobile {
          font-size: 12px;
        }
      }
    }

    .session {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      p {
        font-size: 12px;
        background-color: $soft-color;
        padding: 3px 6px;
        border-radius: 10px;
        color: $dark-color;

        @include mobile {
          font-size: 10px;
          padding: 2px 4px;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      button {
        font-size: 15px;
        font-weight: bold;
        color: $red-color;
        background-color: $button-bg;
        padding: 5px 10px;
        border-radius: 5px;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: $soft-red;
        }

        @include tablet {
          font-size: 10px;
          padding: 3px 10px;
          margin-bottom: 5px;
        }

        @include mobile {
          font-size: 10px;
          padding: 3px 10px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
