@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .post-item {
    display: flex;
    gap: 20px;

    @include mobile {
      display: flex;
      flex-direction: column;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    .desc {
      h1 {
        font-size: 22px;
        color: $dark-color;

        @include tablet {
          font-size: 20px;
        }

        @include mobile {
          font-size: 18px;
        }
      }

      span {
        color: $red-color;
        font-size: 18px;

        @include tablet {
          font-size: 16px;
        }
      }

      p {
        font-size: 16px;
        color: $dark-color;

        @include tablet {
          font-size: 14px;
        }
      }

      button {
        font-size: 15px;
        font-weight: bold;
        color: $white-color;
        padding: 7px 20px;
        border-radius: 5px;
        background-color: $red-color;
        color: $white-color;
        border: none;
        cursor: pointer;

        @include mobile {
          padding: 3px 15px;
        }

        &:hover {
          background-color: $dark-red;
        }
      }
    }

    .document {
      iframe {
        height: 200px;
        width: 300px;
        border: none;
        border-radius: 10px;

        @include tablet {
          height: 150px;
          width: 250px;
        }

        @include mobile {
          display: none;
        }
      }
    }
  }
}
