@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  @include mobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .post-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: $shadow;

    .info {
      display: flex;
      align-items: center;
      border-bottom: 2px solid $soft-color;
      gap: 10px;

      .img {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid $soft-color;

          @include tablet {
            width: 30px;
            height: 30px;
          }
        }
      }

      .sup {
        display: flex;
        flex-direction: column;

        h5 {
          font-size: 16px;

          @include tablet {
            font-size: 14px;
          }

          @include mobile {
            font-size: 12px;
          }
        }

        p {
          font-size: 14px;

          @include tablet {
            font-size: 12px;
          }

          @include mobile {
            font-size: 10px;
          }
        }
      }
    }

    .post-details {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        h3 {
          font-size: 18px;

          @include tablet {
            font-size: 16px;
          }

          @include mobile {
            font-size: 14px;
          }
        }
      }
      .category {
        display: flex;
        gap: 10px;

        p {
          font-size: 12px;
          font-weight: bold;
          background-color: $soft-color;
          padding: 3px 10px;
          border-radius: 10px;

          @include tablet {
            font-size: 10px;
          }

          @include mobile {
            font-size: 8px;
          }
        }
      }

      .abstract {
        p {
          font-size: 14px;

          @include tablet {
            font-size: 12px;
          }

          @include mobile {
            font-size: 10px;
          }
        }
      }

      .authors-name {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 14px;

          @include tablet {
            font-size: 12px;
          }

          @include mobile {
            font-size: 10px;
          }
        }
      }

      .date {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 14px;

          @include tablet {
            font-size: 12px;
          }

          @include mobile {
            font-size: 10px;
          }
        }
      }
    }

    .buttons {
      display: flex;
      gap: 10px;

      button {
        font-size: 15px;
        font-weight: bold;
        color: $red-color;
        background-color: $button-bg;
        padding: 3px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: $soft-red;
        }

        @include tablet {
          padding: 2px 15px;
        }

        @include mobile {
          font-size: 10px;
          padding: 0px 15px;
        }
      }
    }
  }
}
