@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.category {
  h3 {
    font-size: 20px;
    text-align: center;

    @include tablet {
      font-size: 15px;
    }

    @include mobile {
      font-size: 10px;
    }
  }
}
