@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.supervisors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px;

  .faculty {
    h3 {
      font-size: 20px;
      color: $dark-color;
    }
  }

  .items {
    margin-top: 15px;
  }
}
