@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.category-list {
  .list-items {
    button {
      color: $dark-color;
      margin-top: 5px;
      background-color: transparent;
      border: none;
      font-weight: bold;
      padding: 3px 10px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: $soft-color;
      }

      @include tablet {
        font-size: 10px;
      }

      @include mobile {
        font-size: 8px;
      }
    }
  }
}
