@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.institutes {
  p {
    font-size: 18px;
    color: $dark-color;
    border-bottom: 2px solid $soft-color;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .institutes-list {
    padding-left: 10px;

    a {
      color: $red-color;
    }
  }
}
