@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.current-positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5px;

  h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;

    @include tablet {
      font-size: 15px;
    }

    @include mobile {
      font-size: 10px;
    }
  }

  .pos-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr;
    }

    .sup-info {
      gap: 10px;
      padding: 10px;
      background-color: $white-color;
      box-shadow: $shadow;
      border-radius: 10px;
      max-width: 325px;

      .img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid $soft-red;

          @include tablet {
            width: 70px;
            height: 70px;
          }

          @include mobile {
            width: 60px;
            height: 60px;
          }
        }
      }

      .name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        a {
          font-size: 20px;
          text-align: center;
          font-weight: bold;

          @include tablet {
            font-size: 18px;
          }

          @include mobile {
            font-size: 16px;
          }
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .info-desc {
          display: flex;
          gap: 10px;

          p {
            font-size: 15px;

            @include tablet {
              font-size: 13px;
            }

            @include mobile {
              font-size: 11px;
            }
          }
        }
      }

      .research {
        display: flex;
        flex-direction: column;

        .r-int {
          display: flex;
          gap: 10px;

          p {
            font-size: 16px;

            @include tablet {
              font-size: 14px;
            }

            @include mobile {
              font-size: 12px;
            }
          }
        }

        .r-desc {
          font-size: 14px;
          margin-left: 34px;

          @include tablet {
            font-size: 14px;
          }

          @include mobile {
            font-size: 12px;
          }
        }
      }

      .update-delete {
        display: flex;
        gap: 10px;
        margin-top: 10px;

        .update {
          border: none;
          background: none;
          font-size: 15px;
          padding: 3px 10px;
          background-color: $button-bg;
          color: $red-color;
          font-weight: bold;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: $soft-red;
          }

          @include tablet {
            font-size: 13px;
            padding: 3px 10px;
          }

          @include mobile {
            font-size: 11px;
            padding: 3px 10px;
          }

          a {
            color: $red-color;
          }
        }

        .remove {
          font-size: 15px;
          padding: 3px 10px;
          background-color: $red-color;
          color: $white-color;
          font-weight: bold;
          border-radius: 5px;
          cursor: pointer;
          border: none;

          &:hover {
            background-color: $dark-red;
          }

          @include tablet {
            font-size: 13px;
            padding: 3px 10px;
          }

          @include mobile {
            font-size: 11px;
            padding: 3px 10px;
          }
        }
      }
    }
  }
}
