@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main {
  font-family: "Poppins", sans-serif;
  background-color: $white-color;
  color: $black-color;
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}
