// Background
$button-bg: rgb(235, 183, 183);

// Text
$black-color: rgb(0, 0, 0);
$soft-color: #eee9e9;
$dark-color: #2a3447;
$white-color: #ffff;

// Base
$red-color: rgb(229, 18, 46);

// Hover
$dark-red: rgb(212, 23, 51);
$soft-red: rgb(233, 195, 195);
