// Background
$button-bg: rgb(235, 183, 183);

// Text
$black-color: rgb(0, 0, 0);
$soft-color: rgb(238, 233, 233);
$dark-color: rgb(42, 52, 71);
$white-color: rgb(255, 255, 255);
$grey-color: rgb(128, 128, 128);

// Base
$red-color: rgb(229, 18, 46);

// Hover
$dark-red: rgb(212, 23, 51);
$soft-red: rgb(233, 195, 195);

// Box-Shadow
$shadow: 0px 0px 15px -4px rgba(66, 68, 90, 1);
