// Background
$soft-bg: #384256;
$dark-bg: #222b3c;
$button-bg: rgb(235, 183, 183);

// Text
$black-color: rgb(0, 0, 0);
$soft-color: #dbd6d6;
$dark-color: #2a3447;
$white-color: #ffff;

// Base
$red-color: rgb(255, 0, 0);

// Hover
$dark-red: rgb(230, 18, 18);
$soft-red: rgb(233, 195, 195);
